body, html {
    height: 100%;
}

body {
    background-image: url("/static/img/white_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}