{% extends "base.html" %}

{% block title %}| Edit profile{% endblock title %}

{% block content %}
    <div class="row pt-4">
        <div class="col-md-12 text-center">
            <h1 class="text-success">Edit your profile</h1>
        </div>
        <div class="col-md-6 offset-md-3 py-4">
            <form class="pb-2" method="post" action="/profile/edit">
                <div class="form-group row">
                    <label for="inputUsername" class="col-md-4 col-form-label">Username</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="new-username" id="inputUsername" placeholder="Enter your username" value="{{user.username}}">
                        {% if alert_username_exists %}
                            <small class="form-text text-danger">{{alert_username_exists}}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="col-md-4 col-form-label">Email address</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" name="new-email" id="inputEmail" placeholder="Enter your email" value={{user.email}}>
                        {% if alert_email_taken %}
                            <small class="form-text text-danger">{{alert_email_taken}}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-md-4 col-form-label">Current password</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control"  name="current-password" id="inputPassword" placeholder="Enter your current password">
                        {% if alert_wrong_password %}
                            <small class="form-text text-danger">{{alert_wrong_password}}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPasswordRepeat" class="col-md-4 col-form-label">New password</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="new-password" id="inputPasswordRepeat" placeholder="Enter your new password">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="inputAbout">Change bio</label>
                    <textarea class="form-control" name="info" id="inputAbout" placeholder="Enter your new bio here" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-block">Save changes</button>
            </form>
        </div>
    </div>
{% endblock content %}